<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChatService</key>
	<dict>
		<key>SingleInstanceSelector</key>
		<string>Instance</string>
		<key>URLClass</key>
		<string>SYDChatService</string>
		<key>URLType</key>
		<string>Service</string>
	</dict>
</dict>
</plist>
